html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #32161F;
}

#bodd{
    margin: 0;
    padding: 0;
}

/* colors */
.lightpink{
    color: #A73E68; 
}
/* end of colors */

/* fonts */
@font-face {
    font-family: coolsanta;
    src: url('CoolSanta-lgz8D.ttf');
}

.coolsanta {
    font-family: coolsanta;
}

@font-face {
    font-family: shiftynotes;
    src: url('ShiftyNotesRegular-BWZ6d.ttf');
}

.shiftynotes {
    font-family: shiftynotes;
}
/*fonts end */

/* typing animation */
.cont-text {
    height: 100%;
    width: 100%;
}

.typed-cursor {
    color: #A73E68;
}

.firsty {
    font-size: 7vw;
    color: whitesmoke;
}

.secondy {
    font-size: 4.2vw;
}
/* typing animation end */

/* autoplaying carousel */
.slider-frame {
    overflow: hidden;
    height: 500px;
    width: 800px; 
    margin-top: 20px;
}

/* slide animation */

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 800px;
    height: 500px;
    margin: 0 0 0 0;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container{
    height: 500px;
    width: 800px;
    position: relative;
}
/* autoplaying carousel end */

/* navbar */
a.navbar-brand {
    font-size: 1.5vw;
}
a.navbar-brand:hover {
    color: whitesmoke;
}

.nav-link {
    font-size: 2vw;
}

a.nav-link:hover {
    color: whitesmoke;
}
/* hamburger icon */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #A73E68;
    border-radius: 30px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}
/* hamburger icon end */

/* navbar end */
